*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}


/* common css ends */

.full-wrapper{
    background: radial-gradient(circle, rgba(188,231,39,0.9192051820728291) 0%, rgba(217,82,48,0.969625350140056) 73%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.form-wrapper{
    padding: 100px;
    margin: 0 auto;
    width: fit-content;
}

.form-wrapper .form_1{
    border: .5px solid rgb(92, 92, 92);
    box-shadow: 5px 18px 10px 0px #585858;
    padding: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgb(183, 243, 253);
}
.form-wrapper .form_1 input{
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}
.form-wrapper .form_1 #submit_btn{
    padding: 10px 20px;
    background-color: turquoise;
    border: 2px solid #000;
    display: flex;
}

.form-wrapper .form_1 .form-error-message2{
    margin-bottom: 20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    color: red;
    font-style: italic;
    font-size: 16px;
}



