*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin: 0 auto;
}
ol,ul{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row-grid{
    display: grid;
}
img{
    vertical-align: middle;
}
.section-heading h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 42px;
    font-weight: 400;
    color: #4e525d;
    padding-bottom: 60px;
}

.container{
    width:100%;
    padding: 0 15px;
    margin: 0 auto;
}
button,input,textarea,
button:focus,input:focus,textarea:focus{
    outline: none;
    border: none;
}
/*============================ media query css  ============================*/

    /* Small devices (landscape phones, 576px and up) */
        @media (max-width: 768px) {
            .container{
                max-width:540px;
            }
            .section-heading h2{
                font-size: 30px;
                padding-bottom: 40px;
            }
        }
        
    /* // Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            .container{
                max-width:720px;
            }  
            .section-heading h2{
                font-size: 30px;
                padding-bottom: 45px;
            }
        }
        
    /* // Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            .container{
                max-width:960px;
            }
            .section-heading h2{
                font-size: 42px;
                padding-bottom: 60px;
            }
        }
        
    /*// Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            .container{
                max-width:1140px;
            }
            .section-heading h2{
                font-size: 42px;
                padding-bottom: 60px;
            }
        }

/* common css ends */

/* header css starts */
#header-section .logo{
    max-width: 50%;
    flex: 1 1 50% ;
    display: flex;
}
#header-section .logo img{
    align-self: center;
}
#header-section .navbar{
    max-width: 50%;
    flex: 1 1 50% ;
}
#header-section .navbar ul{
    display: flex;
    justify-content: flex-end;
}
#header-section .navbar ul li{
    margin-right: 10px;
}
#header-section .navbar ul li:last-child{
    margin-right: 0;
}
#header-section .navbar ul li a{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: normal;
    color: #484c55;
    padding: 45px 20px;
    border-bottom: 3px solid transparent;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#header-section .navbar ul li a:hover{
    color: #49cbcd;
    border-bottom: 3px solid #49cbcd;
    background-color: #f8f9fb;
}
     /*============================ media query css  ============================*/

        /* Small devices (landscape phones, 576px and up) */
        @media (max-width: 768px) {
            #header-section .navbar{
                max-width: 50%;
                flex: 1 1 50% ;
                display: none;
            }
            #header-section .logo{
                padding: 20px 0;
            }
        }
        
        /* // Medium devices (tablets, 768px and up) */
        @media (max-width: 768px) {
            #header-section .navbar{
                max-width: 50%;
                flex: 1 1 50% ;
                display: none;
            }
            #header-section .logo{
                padding: 20px 0;
            }
        }
        
        /* // Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
        }
        
        /*// Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
        }

/* header css ends */


/* cta area css starts */

#cta-section .row{
    justify-content: center;
}
#cta-section .jumbotron{
    background: #39ade2 url(../images/jumbotron.jpg) no-repeat center;
    background-size: cover;
    /* min-width: fit-content; */
}
#cta-section .cta-content{
    padding: 135px 0;
    color: #ffffff;
    text-align: center;
}

#cta-section .cta-content a{
    border: 3px solid #ffffff;
    color: #ffffff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
     /*============================ media query css  ============================*/

        /* Small devices (landscape phones, 576px and up) */
        @media (max-width: 768px) {
            #cta-section .row h1{
                font-size: 40px;
                font-weight: 600;
                padding-bottom: 20px;
            }
            #cta-section .row h3{
                font-size: 18px;
                font-weight: 400;
                padding-bottom: 40px;
            }
            #cta-section .cta-content a{
                padding: 10px 20px;
            }
        }
        
        /* // Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            #cta-section .row h1{
                font-size: 63px;
                font-weight: 600;
                padding-bottom: 10px;
            }
            #cta-section .row h3{
                font-size: 23px;
                font-weight: 400;
                padding-bottom: 40px;
            }
            #cta-section .cta-content a{
                padding: 12px 30px;
            }
        }
        
        /* // Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            #cta-section .row h1{
                font-size: 63px;
                font-weight: 600;
                padding-bottom: 10px;
            }
            #cta-section .row h3{
                font-size: 23px;
                font-weight: 400;
                padding-bottom: 80px;
            }
            #cta-section .cta-content a{
                padding: 22px 40px;
            }
        }
        
        /*// Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            #cta-section .row h1{
                font-size: 63px;
                font-weight: 600;
                padding-bottom: 10px;
            }
            #cta-section .row h3{
                font-size: 23px;
                font-weight: 400;
                padding-bottom: 80px;
            }
            #cta-section .cta-content a{
                padding: 22px 40px;
            }
        }

/* cta area css ends */


/* services section css starts */
#services-section .row-grid{
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-gap: 30px;
}
#services-section .services-area{
    padding: 100px 0;
}
#services-section .services-area .services{
    text-align: center;
}
#services-section .services-area .services .icon{
   width: 100px;
   height: 100px;
   margin: 0 auto;
   border: 2px solid #39ade2;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}
#services-section .services-area .services .icon i{
    font-size: 50px;
    color: #39ade2;
    line-height: 100px;
}
#services-section .services-area .services h2{
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 400;
    color: #4e525d;
}
#services-section .services-area .services p{
    font-size: 14px;
    font-weight: 400;
    color: #4e525d;
    padding-bottom: 20px;
}
#services-section .services-area .services a{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    padding: 10px 15px;
    background-color: #49cbcd;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
     /*============================ media query css  ============================*/

        /* Small devices (landscape phones, 576px and up) */
        @media (max-width: 768px) {
            #services-section .row-grid{
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-column-gap: 30px;
            grid-row-gap: 50px;
            }
            #services-section .services-area .services{
                padding: 0 50px;
            }
            #services-section .services-area .services h2{
                padding: 20px 0 15px 0;
            }
        }
        
        /* // Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            #services-section .services-area .services h2{
                padding: 20px 0 18px 0;
            }
            #services-section .row-grid{
            grid-template-columns: repeat(2, auto);
            grid-template-rows: auto;
            grid-column-gap: 30px;
            grid-row-gap: 50px;
            }
            #services-section .services-area .services{
                text-align: center;
            }
        }
        
        /* // Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            #services-section .services-area .services h2{
                padding: 25px 0 20px 0;
            }
            #services-section .row-grid{
            grid-template-columns: repeat(2, auto);
            grid-template-rows: auto;
            grid-column-gap: 30px;
            grid-row-gap: 50px;
            }
        }
        
        /*// Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            #services-section .services-area .services h2{
                padding: 40px 0 20px 0;
            }
            #services-section .row-grid{
            grid-template-columns: repeat(4, auto);
            grid-template-rows: auto;
            grid-gap: 30px;
            }
        }

/* services section css ends */


/* portfolio section css starts */
#portfolio-section {
    background-color: #f1f1f1;
}

#portfolio-section .portfolio-area .card img{
    width: 100%;
}
#portfolio-section .more-works-btn{
    text-align: center;
    padding-top: 60px;
}
#portfolio-section .more-works-btn a{
    padding: 20px 42px;
    color: #ffffff;
    background-color: #49cbcd;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
     /*============================ media query css  ============================*/

        /* Small devices (landscape phones, 576px and up) */
        @media (max-width: 768px) {
            #portfolio-section .container{
                padding: 60px 0;
            }
            #portfolio-section .portfolio-area .row-grid{
                grid-template-columns: auto;
                grid-template-rows: auto;
                grid-column-gap: 30px;
                grid-row-gap: 50px;
            }
            #portfolio-section .portfolio-area .card{
                padding: 0 50px;
            }
            #portfolio-section .more-works-btn a{
                padding: 10px 22px;
            }
        }
        
        /* // Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            #portfolio-section .container{
                padding: 60px 0;
            }
            #portfolio-section .portfolio-area .row-grid{
                grid-template-columns: repeat(2,auto);
                grid-template-rows: auto;
                grid-column-gap: 30px;
                grid-row-gap: 50px;
            }
            #portfolio-section .portfolio-area .card{
                padding: 0 30px;
            }
            #portfolio-section .more-works-btn a{
                padding: 17px 32px;
            }
        }
        
        /* // Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            #portfolio-section .container{
                padding: 95px 0;
            }
            #portfolio-section .portfolio-area .row-grid{
                grid-template-columns: repeat(3,auto);
                grid-template-rows: auto;
                grid-gap: 30px;
            }
        }
        
        /*// Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            #portfolio-section .container{
                padding: 95px 0;
            }
            #portfolio-section .portfolio-area .row-grid{
                grid-template-columns: repeat(3,auto);
                grid-template-rows: auto;
                grid-gap:30px;
            }
        }

/* portfolio section css ends */


/* teams section css starts */

#teams-section .teams-area .card{
    text-align: center;
    color: #4e525d;
}
#teams-section .teams-area .card .img{
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    height: min-content;
}
#teams-section .teams-area .card .img img{
    width: 70%;
}
#teams-section .teams-area .card .img i{
    font-size: 30px;
    color: #e44c41;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#teams-section .teams-area .card .img:hover i{
    opacity: 1;
    visibility: visible;
}
#teams-section .teams-area .card h3{
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 10px;
}
#teams-section .teams-area .card h6{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 35px;
}
#teams-section .teams-area .card p{
    text-align: center;
}
     /*============================ media query css  ============================*/

        /* Small devices (landscape phones, 576px and up) */
        @media (max-width: 768px) {
            #teams-section .container{
                padding: 60px 0;
            }
            #teams-section .teams-area .row-grid{
                grid-template-columns: auto;
                grid-template-rows: auto;
                grid-column-gap: 30px;
                grid-row-gap: 50px;
            }
            #teams-section .teams-area .card{
            padding: 0 50px;
            }
            #teams-section .teams-area .card .img{
                margin-bottom: 20px;
            }
        }
        
        /* // Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            #teams-section .teams-area .card .img{
                margin-bottom:20px;
            }
            #teams-section .container{
                padding: 60px 0;
            }
            #teams-section .teams-area .row-grid{
                grid-template-columns: repeat(2,auto);
                grid-template-rows: auto;
                grid-column-gap: 30px;
                grid-row-gap: 50px;
            }
            #teams-section .teams-area .card{
            padding: 0 30px;
            }
        }
        
        /* // Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            #teams-section .container{
                padding: 95px 0;
            }
            #teams-section .teams-area .row-grid{
            grid-template-columns: repeat(2,auto);
            grid-template-rows: auto;
            grid-column-gap: 30px;
            grid-row-gap: 50px;
            }
            #teams-section .teams-area .card{
            padding: 0 30px;
            }
        }
        
        /*// Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            #teams-section .container{
                padding: 95px 0;
            }
            #teams-section .teams-area .row-grid{
            grid-template-columns: repeat(4,auto);
            grid-template-rows: auto;
            grid-gap: 30px;
            }
        }

/* teams section css ends */

/* testimonials section css starts */
#testimonials-section .container{
    position: relative;
}

#testimonials-section .container .left-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
#testimonials-section .container .right-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all linear .3s;
}
#testimonials-section .container:hover .left-btn{
    left: 1%;
}
#testimonials-section .container:hover .right-btn{
    right: 1%;
}
#testimonials-section .container .left-btn,
#testimonials-section .container .right-btn{
    outline: none;
}
#testimonials-section .testimonials-area{
    text-align: center;
}
#testimonials-section .testimonials-area p{
    font-size: 19px;
    font-weight: 400;
    color: #4e525d;
    line-height: 30px;
}
#testimonials-section .testimonials-area h3{
    font-size: 21px;
    font-weight: 400;
    color: #9a8faf;
    padding-top: 40px;
}
     /*============================ media query css  ============================*/

        /* Small devices (landscape phones, 576px and up) */
        @media (max-width: 768px) {
            #testimonials-section .container{
                position: relative;
                padding: 60px 60px;
            }
        }
        
        /* // Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            #testimonials-section .container{
                position: relative;
                padding: 60px 70px;
            }
        }
        
        /* // Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            #testimonials-section .container{
                position: relative;
                padding: 95px 80px;
            }
        }
        
        /*// Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            #testimonials-section .container{
                position: relative;
                padding: 95px 80px;
            }
        }

/* testimonials section css ends */


/* contacts section css starts */

#contacts-section .jumbotron{
    background: url(../images/footerbg.jpg) no-repeat center ;
    background-size: cover;
}
#contacts-section .contacts-area .left-side{
    width: 50%;
    padding-right: 150px;
}
#contacts-section .contacts-area .left-side h4{
    font-size: 42px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 10px;
}
#contacts-section .contacts-area .left-side p {
    font-size: 14px;
    font-weight: 400;
    color: #7e7e7e;
    line-height: 25px;
}
#contacts-section .contacts-area .left-side .links{
    text-align: left;
    padding: 40px 0;
}
#contacts-section .contacts-area .left-side .links a{
    width: 45px;
    height: 45px;
    color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    margin-right: 15px;
}
#contacts-section .contacts-area .left-side .links a{
    line-height: 45px;
}
#contacts-section .contacts-area .left-side .links a.facebook{
    background-color: #3b5997 ;
}
#contacts-section .contacts-area .left-side .links a.twitter{
    background-color: #3ec2f3 ;
}
#contacts-section .contacts-area .left-side .links a.google-plus{
    background-color: #e44c41;
}
#contacts-section .contacts-area .left-side .contact a{
    display: block;
    font-size: 14px;
    color: #bface2;
    padding: 5px 0;
}
#contacts-section .contacts-area .right-side{
    width: 50%;
}
#contacts-section .contacts-area .right-side .top-part{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
#contacts-section .contacts-area .right-side .top-part input{
    width: 48%;
    border:none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px;
}
#contacts-section .contacts-area .right-side input::placeholder,
#contacts-section .contacts-area .right-side textarea::placeholder{
    font-size: 16px;
    color: #c1c1c1;
}
#contacts-section .contacts-area .right-side textarea{
    width: 100%;
    height: 160px;
    resize: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px;
    margin-bottom: 30px;
}
#contacts-section .contacts-area .right-side .submit-part{
    display: flex;
    justify-content: flex-end;
}
#contacts-section .contacts-area .right-side .submit-part #submit-btn{
    padding: 15px 50px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
    background-color: #49cbcd;
    color: #f1f1f1;
    font-size: 22px;
}
     /*============================ media query css  ============================*/

        /* Small devices (landscape phones, 576px and up) */
        @media (max-width: 768px) {
            #contacts-section .container{
                padding: 60px 30px;
            }
            #contacts-section .contacts-area .left-side{
                width: 100%;
                padding-right: 0;
                text-align: center;
                margin-bottom: 50px;
            }
            #contacts-section .contacts-area .left-side .links{
                text-align: center;
            }
            #contacts-section .contacts-area .right-side{
                width: 100%;
            }
        }
        
        /* // Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
            #contacts-section .container{
                padding: 60px 30px;
            }
            #contacts-section .contacts-area .left-side{
                width: 100%;
                padding-right: 0;
                text-align: center;
                margin-bottom: 50px;
            }
            #contacts-section .contacts-area .left-side .links{
                text-align: center;
            }
            #contacts-section .contacts-area .right-side{
                width: 100%;
            }
        }
        
        /* // Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            #contacts-section .container{
                padding: 95px 0;
            }
            #contacts-section .contacts-area .right-side{
                width: 50%;
            }
            #contacts-section .contacts-area .left-side{
                width: 50%;
                padding-right: 150px;
            }
        }
        
        /*// Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            #contacts-section .container{
                padding: 95px 0;
            }
            #contacts-section .contacts-area .right-side{
                width: 50%;
            }
            #contacts-section .contacts-area .left-side{
                width: 50%;
                padding-right: 150px;
            }
        }

/* contacts section css ends */



